/* Global */

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  list-style: none;

  /* CHECK AVEC PIERRE */
  padding: 0; 
}

button {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 700;
  border: none;
  padding: 1rem;
  outline: none;
}

input {
  border: none;
}

/* Header */
.header {
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  padding: 1rem;
  width: 10rem;
  justify-self: flex-start;
}

.header__nav {
  order: 3;
  width: 100%;

  display: flex;
  align-items: center;
}

.header__list {
  width: 100%;

  display: flex;
  align-items: center;
}

.header__item {
  flex-basis: 50%;
  
  display: flex;
  justify-content: center;
}

.header__link {
  flex-basis: 100%;
  text-align: center;
  padding: 1rem;

  border-bottom: 3px solid transparent;
}

.header__link--active {

  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}

.header__register {
  padding: 1rem;
  justify-self: flex-end;
}

/* Search */
.main-header {
  padding: 1rem;
}

.search {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--color-secondary);
  border-radius: 12px;
}

.search__gps {
  background-color: var(--color-secondary);
}

.search__input {
  justify-self: flex-start;

  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: #000;
}

.search__button {
  justify-self: flex-end;
  color: #fff;
}

/* Filters */
.filters__list {
  display: flex;
  flex-wrap: wrap;
}
.filters__item {
  font-weight: 700;
  border: 2px solid var(--color-secondary);
  border-radius: 30px;
  display: flex;
  margin: .4rem;
}

.filters__item div {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 50%;
  padding: .8rem;
  width: 1rem;
  text-align: center;
}

.filters__link {
  padding: .8rem;
}

.filters__info {
  display: flex;
  align-items: center;
  position: relative;
}
.filters__info i {
  padding: .5rem .8rem;
  margin-right: .5rem;
  font-size: .8rem;
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
}

/* Popular */
.popular {
  background-color: var(--color-secondary);
  padding: 1rem;
}