html {
  /* 1rem = 10px  */
  /* 10/16 * 100 */
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul,
ol {
  list-style: none;

  /* CHECK AVEC PIERRE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  padding: 1.6rem;
  outline: none;
}

input {
  border: none;
}

/* /////// */
/* /////// */
/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  order: 3;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__list {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__item {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.header__link {
  font-size: var(--default-font-size);
  flex-basis: 100%;
  text-align: center;
  padding: 1rem;
  border-bottom: 3px solid var(--color-secondary);
}

.header__link--active {
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}

.header__btn {
  color: var(--color-primary);
  font-weight: 700;
}

.header__logo,
.header__register {
  padding: 2rem;
}

/* ///// */
/* Main */

/* /////// */
/* Search */
.search {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--color-secondary);
  border-radius: 12px;
  font-size: var(--default-font-size);
}

.search__gps {
  background-color: var(--color-secondary);
}

.search__input {
  justify-self: flex-start;

  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: var(--color-black);
}

.search__button {
  justify-self: flex-end;
  color: var(--color-white);
}

/* /////// */
/* //////// */
/* Filters */
.filters__list {
  display: flex;
  flex-wrap: wrap;
}
.filters__item {
  font-weight: 700;
  border: 2px solid var(--color-secondary);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.filters__item div {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 50%;
  padding: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filters__link {
  padding: 1.3rem;
}

.filters__info {
  display: flex;
  align-items: center;
  position: relative;
}
.filters__info i {
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
}

/* //////// */
/* Popular */
.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__header i {
  font-size: 2.25rem;
}

.popular__card {
  height: 140px;
  padding: 5px;
}

/* ///////////// */
/* Hébergements */
.lodging__card img {
  padding: 0;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  width: auto;
  height: 60%;
}
.lodging__card {
  padding: 0;
  flex-direction: column;
  height: 190px;
}

.lodging__card .card__info {
  padding: 0.5rem 1rem;
}

/* Transformer les card lodging + activities en card--horizontal !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.lodging__more {
  font-weight: 700;
}

/* ////////// */
/* Activités */
.activities__card img {
  padding: 0;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  width: auto;
  height: 70%;
}

.activities__card {
  padding: 0;
  flex-direction: column;
  height: 190px;
}

.activities .card__info {
  height: 100%;
  justify-content: center;
}

/* /////// */
/* Footer */
.footer {
  padding: 4rem;
}
footer > div:not(:last-child) {
  margin-bottom: 4rem;
}

.footer__item {
  padding: 0.8rem 0;
}
