/* Media Queries & Breakpoints */

/* Phone = 600px ou moins */
/* Tablet Portrait = de 600 à 900px */
/* Tablet Landscape = de 900 à 1400px */
/* Desktop = 1200px ou plus */

/* Tablet Portrait */
@media (min-width: 600px) {
  html {
    font-size: 75%;
  }

  .header__logo,
  .header__register,
  .main-header,
  .popular,
  .lodging,
  .activities,
  .footer {
    padding: 3rem;
  }

  /* Card */
  .card {
    height: 250px;
  }

  .card--horizontal {
    height: 300px;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer > div {
    flex-basis: 50%;
  }
}

/* Tablet Landscape */
@media (min-width: 900px) {
  .main-header,
  .popular,
  .lodging,
  .activities,
  .footer {
    padding: 5rem;
  }

  /* Hébergements */
  .lodging,
  .activities__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .lodging h2,
  .lodging_more {
    flex-basis: 100%;
  }

  .lodging__card,
  .activities__card {
    flex-basis: 45%;
  }

  /* Footer */
  .footer {
    justify-content: space-between;
  }
  .footer > div {
    flex-basis: auto;
  }
}

/* Desktop */
@media (min-width: 1400px) {
  /* Header */

  .header {
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
  }

  .header__logo,
  .header__register {
    padding: 5rem 6rem;
    padding-bottom: 0;
  }

  .header__logo {
    flex: 2;
  }

  .header__nav {
    height: 100%;
    order: 0;
    flex: 1;
  }

  .header__list {
    height: 100%;
  }

  .header__item {
    height: 100%;
  }

  .header__link {
    padding-top: 5rem;
    padding-bottom: 0;
    border-top: 3px solid var(--color-secondary);
    border-bottom: none;
    transition: color 0.2s;
  }

  .header__link--active {
    color: var(--color-primary);
    border-top: 3px solid var(--color-primary);
  }

  .header__link:hover {
    color: var(--color-primary);
  }

  .header__register {
    height: 100%;
  }

  /* Main */
  .main {
    overflow: hidden;

    padding: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-header {
    flex-basis: 100%;
    padding: 0;
  }

  /* Search */
  .search {
    transition: width 0.2s;
    width: 30%;
  }

  .search__button::after {
    font-weight: 700;
    display: contents;
  }

  .search__button i {
    display: none;
  }

  /* Filters */
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filters h2 {
    margin: 0;
    margin-right: 2rem;
  }
  .filters__item {
    margin: 0 2rem;
  }
  .filters__link {
    padding: 0 2rem;
  }
  .filters__info {
    flex-basis: 100%;
  }

  .filters__item:hover {
    background-color: var(--color-secondary);
  }

  .filters__item:hover .filters__link {
    color: var(--color-primary);
  }

  /* Hébergements */
  .lodging {
    background-color: var(--color-secondary);
    border-radius: 2rem;
    flex: 2.5;
    padding: 4rem;
  }
  .lodging h2 {
    padding-bottom: 2rem;
  }
  .lodging__card {
    flex-basis: 30%;
    height: 250px;
    padding: 0.5rem;
    margin-bottom: 3rem;
  }

  .lodging__more {
    flex-basis: 100%;
    transition: all 0.2s;
  }
  .lodging__more:hover {
    color: var(--color-primary);
  }

  /* Popular */
  .popular {
    margin-left: 5rem;
    flex: 1;
    border-radius: 2rem;
    order: 2;
    padding: 4rem;
  }

  .popular__card {
    height: 180px;
  }

  .popular__card {
    margin-bottom: 3rem;
  }

  .popular__card:last-of-type {
    margin-bottom: 0;
  }

  /* Activities */
  .activities {
    margin-top: 3rem;
    padding: 2rem 0;
    order: 3;
    height: 30vw;
  }
  .activities__card img {
    flex-grow: 1;
  }
  .activities__card .card__info {
    height: 60px !important;
  }

  .activities__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .activities__card h4 {
    margin: 0;
  }

  .activities__card {
    width: 22.5%;
  }

  .activities__card:nth-of-type(1),
  .activities__card:nth-of-type(4) {
    flex-basis: 100%;
  }

  .activities__card:nth-of-type(2) {
    flex: 3;
  }

  .activities__card:nth-of-type(3) {
    flex: 2;
  }

  .activities__card:nth-of-type(5),
  .activities__card:nth-of-type(6) {
    flex: 1;
  }
}
