/* Media Queries & Breakpoints */

/* Phone = 600px ou moins */
/* Tablet Portrait = de 600 à 900px */
/* Tablet Landscape = de 900 à 1200px */
/* Desktop = 1200px ou plus */

/* Tablet Portrait */
@media (min-width: 600px) {
  html {
    font-size: 75%;
  }

  /* Card */
  .card {
    height: 250px;
  }

  .card--horizontal {
    height: 300px;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer > div {
    flex-basis: 50%;
  }
}

/* Tablet Landscape */
@media (min-width: 900px) {
  .main-header,
  .popular,
  .lodging,
  .activities,
  .footer {
    padding: 5rem;
  }

  /* Hébergements */
  .lodging,
  .activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .lodging h2,
  .lodging_more {
    flex-basis: 100%;
  }

  .lodging__card,
  .activities__card {
    flex-basis: 45%;
  }

  /* Footer */
  .footer {
    justify-content: space-between;
  }
  .footer > div {
    flex-basis: auto;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  /* Header */

  .header {
    flex-wrap: nowrap;
    height: 100px;
    align-items: center;
  }

  .header__logo,
  .header__register {
    padding: 5rem;
  }

  .header__logo {
    flex-basis: 80%;
  }

  .header__nav {
    height: 100%;
    width: 30%;
    order: 0;
  }

  .header__list {
    height: 100%;
  }

  .header__item {
    height: 100%;
    flex-basis: 100%;
  }

  .header__link {
    background-color: blanchedalmond;
    height: 100%;
    border-top: 3px solid var(--color-secondary);
    border-bottom: none;
  }

  .header__link--active {
    color: var(--color-primary);
    border-top: 3px solid var(--color-primary);
  }

  /* Main */
  .main {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-header {
    flex-basis: 100%;
    padding: 0;
  }

  /* Filters */
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filters h2 {
    margin: 0;
  }
  .filters__item {
    margin: 0 2rem;
  }
  .filters__info {
    flex-basis: 100%;
  }

  .filters__item:hover {
    background-color: var(--color-secondary);
  }

  .filters__item:hover .filters__link {
    color: var(--color-primary);
  }

  /* Hébergements */
  .lodging {
    background-color: var(--color-secondary);
    border-radius: 2rem;
    flex-basis: 70%;
    padding: 2rem 3rem;
  }
  .lodging h2 {
    padding: 2rem 0;
  }
  .lodging__card {
    flex-basis: 30%;
  }
  .lodging__card img {
    height: 70%;
  }
  .lodging__more {
    flex-basis: 100%;
    transition: all 0.2s;
  }
  .lodging__more:hover {
    color: var(--color-primary);
  }

  /* Popular */
  .popular {
    margin-left: 5rem;
    flex: 1;
    border-radius: 2rem;
    order: 2;
    padding: 2rem 3rem;
  }
  .popular__header {
    padding: 2rem 0;
  }
  .popular__card {
    height: 200px;
  }

  /* Activities */
  .activities {
    margin-top: 3rem;
    width: 100%;
    padding: 2rem 0;
    order: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .activities__card img {
    height: 80%;
  }

  .activities__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
  }

  .activities__card h4 {
    margin: 0;
  }

  .activities__card:not(:last-of-type) {
    margin-right: 5rem;
  }
  .activities__card:nth-of-type(1),
  .activities__card:nth-of-type(4) {
    flex-basis: 100%;
  }

  .activities__card:nth-of-type(2) {
    flex-grow: 1;
  }

  .activities__card:nth-of-type(3) {
    flex-shrink: 1;
  }

  .activities__card:nth-of-type(5),
  .activities__card:nth-of-type(6) {
    flex-grow: 1;
  }

  /* Footer */
  .footer {
    padding: 4rem;
  }

  .footer__item {
    margin-right: 20rem;
  }
}
