/* Media Queries & Breakpoints */

/* Phone = 600px */
/* Tablet Portrait = 900px */
/* Tablet Landscape = 1200px */
/* Desktop = 1800px */

@media (min-width: 600px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 900px) {
  /* Header */

  .header {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .header__logo {
    flex-basis: 80%;
  }

  .header__nav {
    order: 0;
  }

  .header__item {
    flex-basis: auto;
  }

  .header__link {
    border-top: 3px solid var(--color-secondary);
    border-bottom: none;
  }

  .header__link--active {
    color: var(--color-primary);
    border-top: 3px solid var(--color-primary);
  }

  /* Activities */
  .activities {
    display: flex;
    margin: 5rem 0;
  }

  /* Footer */
  .footer {
    display: flex;
    padding: 5rem;
  }

  .footer__item {
    margin-right: 20rem;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-header {
    flex-basis: 100%;
  }
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filters h2 {
    margin: 0;
  }
  .filters__item {
    margin: 0;
  }
  .filters__info {
    flex-basis: 100%;
  }
  .lodging {
    box-sizing: border-box;
    border-radius: 2rem;
    order: 1;
    flex-basis: 68%;
    background-color: var(--color-secondary);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 4rem;
  }

  .lodging h2 {
    flex-basis: 100%;
  }

  .lodging__more {
    flex-basis: 100%;
  }

  .lodging__card {
    flex-basis: 30%;
  }
  .popular {
    box-sizing: border-box;
    border-radius: 2rem;
    order: 2;
    flex-basis: 28%;
    padding: 0 4rem;
  }
  .activities {
    order: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .activities h2 {
    flex-basis: 100%;
  }
}
