/* Utilitaires */

/* Backgroud Color */

.bg--white {
  background-color: var(--color-white);
}

.bg--light {
  background-color: var(--color-primary-light);
}

/* Color */
.color--secondary {
  color: var(--color-secondary);
}


/* Titres & Paragraphe */
.heading-1 {
  font-size: 1.5rem;
}

.heading-2 {

}

.heading-3 {

}

.heading-4 {
  margin: .3rem 0;
}

.paragraph {
  margin: 0;
}

/* Boutons */
.btn {
  color: #000;
  border-radius: 12px;
}

.btn--cta {
  background-color: var(--color-primary);
}