/* Backgroud Color */

.bg--white {
  background-color: var(--color-white);
}

.bg--secondary {
  background-color: var(--color-secondary);
}

/* Color */
.color--secondary {
  color: var(--color-secondary);
}


/* Titres & Paragraphe */
.heading-1 {
  font-size: 1.5rem;
}

.heading-2 {
  margin: 0;
}

.heading-3 {

}

.heading-4 {
  margin: .3rem 0;
}

.paragraph {
  margin: 0;
}

/* Boutons */
.btn {
  color: #000;
  border-radius: 12px;
}

.btn--cta {
  background-color: var(--color-primary);
}

/* Margin Top & Botton */
.m-smallest {
  margin: 1rem 0;
}

.m-small {
  margin: 2rem 0;
}

.m-medium {
  margin: 3rem 0;
}

.m-large {
  margin: 4rem 0;
}

.m-largest {
  margin: 5rem 0;
}

.mb-smallest {
  margin-bottom: 1rem;
}

/* Padding */
.p-smallest {
  padding: 1rem;
}

.p-small {
  padding: 2rem;
}
.p-medium {
  padding: 3rem 0;
}