/* Variables */
:root {
  /* Colors */
  --color-primary: #0065fc;
  --color-primary-light: #deebff;

  --color-secondary: #f2f2f2;

  --color-white: #fff;
  --color-black: #000;

  /* Font Size */
  --default-font-size: 1.6rem;
}
